[flake8]
max-line-length = 88
extend-ignore =
    E203,
    W503,
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D107,
    D200,
    D202,
    D205,
    D400,
    D401,
    D402,
    D403,
    D419,
    I100,
    I101,
    I201,
    F401,
    B007,
    E501,
    B001,
    E722
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv
per-file-ignores =
    __init__.py:F401
    conftest.py:F401,F811
    test_*.py:D100,D101,D102,D103,E402
