### macOS
*.DS_Store

### PyCharm
.idea/

### Python
__pycache__/
*.py[cod]
*$py.class
env/

### Project specifics
bin/
layer.zip
build
deploy
*.swp
terraform/.terraform
.terraform.lock.hcl

### Terraform
terraform.tfvars
*.tfvars
!terraform.tfvars.template

src/.vscode/

.vscode/

*.xlsx

*.csv

.env

# Local environment variables
.env.local