selenium>=4.0.0
requests-oauthlib>=1.2.0
python-quickbooks>=0.9.11
urllib3>=1.26.19
oauthlib>=3.0.1
botocore>=1.12.134
boto3
beautifulsoup4
wheniwork
openpyxl
google-api-python-client
google-auth-httplib2
icecream
pyjwt
cryptography
pandas
pypdf2
python-json-logger
